
@using Metawision.Blog.Models;

@{
    ViewBag.Title = "article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model int
@{
    var item = articleManager.getArticle(Model);
}

@if (item != null && item.state == 2) //'state منتشر شده باشه
{

    <h2>@item.title</h2>
    <p>@item.body</p>
    <img src="@item.pic" width="1300" height="740">


    <hr />
    <sapan>@item.date.ToLongDateString() @item.date.ToLongTimeString()</sapan>
    <hr />
}

@{


    Html.RenderPartial("getComments", Model);
    <hr />
    Html.RenderPartial("showArticleAllComments", Model);
}



<ul class="pager">

    @{
        var nextid = articleManager.nextarticle(Model);
        if (nextid > 0)
        {
            var nextArticle = articleManager.getArticle(nextid);
            <li class="next"><a href="~/home/article/@nextArticle.Id" class="next"> @nextArticle.title </a></li>

            var previousid = articleManager.previousarticle(Model);
            if (previousid > 0)
            {
                var previousArticle = articleManager.getArticle(previousid);
                <li class="previous"><a href="~/home/article/@previousArticle.Id" class="previous"> @previousArticle.title </a></li>


            }

        }
    }

</ul>

<div style="border: 1px solid #000000; padding:10px;" class="col-md-12">
    <a href=" " rel="prev"><span class="meta-nav main-color"><i class="fa fa-long-arrow-left"></i>نوشته قبل </span></a>
</div>
@*class="col-md-12" style="height:200px; width:100%;*@



@*<div class="row justify-content-end">
    <div class="col-4">
        One of two columns
    </div>
    <div class="col-4">
        One of two columns
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-5 " style="background-color :#00ffff"> امارات راه‌اندازی می‌کند. این شهر جدید متاورسی “sharjahverese” نام دارد و ۱۰۰۰ مایل مربع از این کشور را در برمی‌گیرد. در حال حاضر بسیاری از شرکت‌های بزرگ فناوری و کشورهای پیشرفته وارد فضای متاورس شده‌اند. امارات متحده عربی هم نیز از این قاعده مستثنی نبوده و گام‌های بزرگی را در این حوزه برداشته است. جالب است بدانید که در اواخر تی</div>

    </div>
</div>*@
