@using Metawision.blog.Models;

@model int


@{
    int page = Model;
    int pSize = 2;
    int pStart = (page - 1) * pSize + 1;
    int pEnd = (page) * pSize;

    var artList = articleManager.getAllArticle();
    int len = artList.ToArray().Length;
    var slice = artList.Skip((page - 1) * pSize).Take(pSize);
    int pages = 0;

    if (0 < len % 10 && len % 10 < 10)
    {
        pages = (len / pSize) + 1;
    }
    else
    {
        pages = (len / pSize);
    }
    @pages

    foreach (var art in slice)
    {
        <div class="container-fluid">
            <div>
                <img src="@art.pic" width="100%" />
            </div>
            <br />
            <div>
                <h4 style="direction:rtl">@art.date</h4>
            </div>
            <div>
                <h2>
                    <a href="~/Home/index/@art.Id">@art.title</a>
                </h2>
            </div>
            <div>
                <p>@art.body</p>
            </div>
            <hr />
        </div>
                }
 
    if (page == 1)
    {
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                @{
                    for (int j = page; j < page + 3; j++)
                    {
                        <li><a href="~/home/index/?id=@j">@j</a></li>
                    }
                    <li><a href="~/home/index/?id=1">...</a></li>
                }

                <li><a href="~/home/index/?id=1">1</a></li>
                <li><a href="~/home/index/?id=2">2</a></li>
                <li><a href="~/home/index/?id=3">3</a></li>
                <li><a href="~/home/index/?id=4">4</a></li>
                <li><a href="~/home/index/?id=5">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    if (page > 1 && page < pages)
    {
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    if (page == pages)
    {

    }
}

<script>

    $()

</script>
