@using Metawision.Blog.Models;

@model int


@{
    int page = 1;

    try
    {
        if (Model == null)
        {
            page = 1;
        }
        else
        {
            page = Model;
        }
    }
    catch
    {

    }
    int pSize = 1;
    int pStart = (page - 1) * pSize + 1;
    int pEnd = (page) * pSize;

    var artList = articleManager.getAllArticle();
    int len = artList.ToArray().Length;
    var slice = artList.Skip((page - 1) * pSize).Take(pSize);
    int pages = 0;

    if (0 < len % pSize && len % pSize < pSize)
    {
        pages = (len / pSize) + 1;
    }
    else
    {
        pages = (len / pSize);
    }
    @pages

    foreach (var art in slice)
    {
        <div class="container-fluid">
            <div>
                <img src="@art.pic" width="100%" />
            </div>
            <br />
            <div>
                <h4 style="direction:rtl">@art.date</h4>
            </div>
            <div>
                <h2>
                    <a href="~/Home/index/@art.Id">@art.title</a>
                </h2>
            </div>
            <div>
                <p>@art.body</p>
            </div>
            <hr />
        </div>
    }
}
@{
    if (0 < page && page < 5)
    {
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">

                @{
                    if (page > 1)
                    {
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    for (var i = 1; i < page + 3; i++)
                    {
                        if (i == page)
                        {
                            <li class="active"><a href="~/Home/Index/@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="~/Home/Index/@i">@i</a></li>
                        }
                    }
                    <li><a>...</a></li>
                    <li><a href="~/Home/Index/@pages">@pages</a></li>

                }
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    if (4 < page && page < pages - 3)
    {
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a>...</a></li>
                @{
                    for (var i = page - 2; i < page + 3; i++)
                    {
                        if (i == page)
                        {
                            <li class="active"><a href="~/Home/Index/@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="~/Home/Index/@i">@i</a></li>
                        }
                    }
                    <li><a>...</a></li>
                    <li><a href="~/Home/Index/@pages">@pages</a></li>
                }
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    if ( pages - 4 < page && page <= pages )
    {
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a>...</a></li>
                @{
                    for (var i = page - 2; i < pages + 1; i++)
                    {
                        if (i == page)
                        {
                            <li class="active"><a href="~/Home/Index/@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="~/Home/Index/@i">@i</a></li>
                        }
                    }

                    if (page < pages)
                    {
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    }
}

@*<nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>*@